In [1]:
# Welcome! This is a Python program file

# The lines that start with a hash (#) are comments
# They are for you to read and are ignored by Python

# When you see 'GO!', save and run the file to see the output
# When you see a line starting with # follow the instructions
# Some lines are python code with a # in front
# This means they're commented out - remove the # to uncomment
# Do one challenge at a time, save and run after each one!

In [2]:
# 1. This is the print statement

print("Hello world")

# GO!

Hello world

In [3]:
# 2. This is a variable

print("Hello world")

# Add a line below to print this variable

print("Hello beautiful world")

# GO!

Hello world
Hello beautiful world

In [4]:
# 3. The variable above is called a string
# You can use single or double quotes (but must close them)
# You can ask Python what type a variable is. Try uncommenting the next line:
# print(type(message))

print("KODAI TARO")

# GO!

KODAI TARO

In [5]:
# 4. Another type of variable is an integer (a whole number)

a = 123
b = 654
c = a + b

# Try printing the value of c below to see the answer

print(c)

# GO!

777

In [6]:
# 5. You can use other operators like subtract (-) and multiply (*)
# Try some below by replacing the word with the correct operator

# a times b
# b minus a
# 12 times 4
# 103 add 999

print(a*b)
print(b-a)
print(12*4)
print(103+999)

# GO!

80442
531
48
1102

In [7]:
# 6. Variables keep their value until you change it

a = 100
# print(a)  # think - should this be 123 or 100?

c = 50
# print(c)  # think - should this be 50 or 777?

d = 10 + a - c
# print(d)  # think - what should this be now?

print(a)
print(c)
print(d)

# GO!

100
50
60

In [8]:
# 7. You can also use '+' to add together two strings

greeting = 'Hi '
name = 'Taro'  # enter your name in this string

message = greeting + name
# print(message)

print(message)

# GO!

Hi Taro

In [9]:
# 8. Try adding a number and a string together and you get an error:

# age =  # enter your age here (as a number)

# print(name + ' is ' + age + ' years old')

age = 22

print(name + ' is ' + age + ' years old')

# GO!

TypeError: can only concatenate str (not "int") to str

In [10]:
# See the error? You can't mix types like that.
# But see how it tells you which line was the error?
# Now comment out that line so there is no error

In [11]:
# 9. We can convert numbers to strings like this:

# print(name + ' is ' + str(age) + ' years old')

print(name + ' is ' + str(age) + ' years old')

# GO!

# No error this time, I hope?

Taro is 22 years old

In [12]:
# Or we could just make sure we enter it as a string:

# age =  # enter your age here, as a string

age = "22"

# print(name + ' is ' + age + ' years old')

print(name + " is " + age + " years old")

# GO!

# No error this time, I hope?

Taro is 22 years old

In [13]:
# 10. Another variable type is called a boolean
# This means either True or False

raspberry_pi_is_fun = True
raspberry_pi_is_expensive = False

# We can also compare two variables using ==

bobs_age = 15
# your_age =  # fill in your age

your_age = 15

# print(your_age == bobs_age)  
# this prints either True or False

print(your_age == bobs_age)

# GO!

True

In [14]:
# 11. We can use less than and greater than too - these are < and >

# bob_is_older = bobs_age > your_age

bob_is_older = bobs_age > your_age

# print(bob_is_older)  
# do you expect True or False?

print(bob_is_older)

# GO!

False

In [15]:
# 12. We can ask questions before printing with an if statement

money = 500
phone_cost = 240
tablet_cost = 200

total_cost = phone_cost + tablet_cost
can_afford_both = money > total_cost

if can_afford_both:
    message = "You have enough money for both"
else:
    message = "You can't afford both devices"

# print(message)  
# what do you expect to see here?

print(message)  

# GO!

You have enough money for both

In [16]:
# Now change the value of tablet_cost to 260 and run it again
# What should the message be this time?

money = 500
phone_cost = 240
tablet_cost = 260

total_cost = phone_cost + tablet_cost
can_afford_both = money > total_cost

if can_afford_both:
    message = "You have enough money for both"
else:
    message = "You can't afford both devices"

print(message)  

# GO!

You can't afford both devices

In [17]:
# Is this right? You might need to change the comparison operator to >=
# This means 'greater than or equal to'

raspberry_pi = 25
pies = 3 * raspberry_pi

total_cost = total_cost + pies

if total_cost <= money:
    message = "You have enough money for 3 raspberry pies as well"
else:
    message = "You can't afford 3 raspberry pies"

# print(message)  
# what do you expect to see here?

print(message)

# GO!

You can't afford 3 raspberry pies

In [18]:
# 13. You can keep many items in a type of variable called a list

colours = ['Red', 'Orange', 'Yellow', 'Green', 'Blue', 'Indigo', 'Violet']

# You can check whether a colour is in the list

# print('Black' in colours)  
# Prints True or False

print('Black' in colours) 

# GO!

False

In [19]:
# You can add to the list with append

colours.append('Black')
colours.append('White')

# print('Black' in colours)  
# Should this be different now?

print('Black' in colours) 

# GO!

True

In [20]:
# You can add a list to a list with extend

more_colours = ['Gray', 'Navy', 'Pink']

colours.extend(more_colours)

# Try printing the list to see what's in it

print('Navy' in colours) 
print('Offwhite' in colours) 

# GO!

True
False

In [21]:
# 14. You can add two lists together in to a new list using +

primary_colours = ['Red', 'Blue', 'Yellow']
secondary_colours = ['Purple', 'Orange', 'Green']

main_colours = primary_colours + secondary_colours

# Try printing main_colours

print(main_colours)

['Red', 'Blue', 'Yellow', 'Purple', 'Orange', 'Green']

In [22]:
# 15. You can find how many there are by using len(your_list). Try it below

# How many colours are there in main_colours?

len(main_colours)

# GO!

6

In [23]:
all_colours = colours + main_colours

# How many colours are there in all_colours?
# Do it here. Try to think what you expect before you run it

len(all_colours)

# GO!

# Did you get what you expected? If not, why not?

18

In [24]:
# 16. You can make sure you don't have duplicates by adding to a set

even_numbers = [2, 4, 6, 8, 10, 12]
multiples_of_three = [3, 6, 9, 12]

numbers = even_numbers + multiples_of_three
# print(numbers, len(numbers))
numbers_set = set(numbers)
# print(numbers_set, len(numbers_set))

print(numbers, len(numbers))
print(numbers_set, len(numbers_set))

# GO!

[2, 4, 6, 8, 10, 12, 3, 6, 9, 12] 10
{2, 3, 4, 6, 8, 9, 10, 12} 8

In [25]:
colour_set = set(all_colours)
# How many colours do you expect to be in this time?
# Do you expect the same or not? Think about it first

print(colour_set,len(colour_set))

{'Violet', 'Red', 'Navy', 'Blue', 'Green', 'Pink', 'Yellow', 'Gray', 'White', 'Purple', 'Indigo', 'Black', 'Orange'} 13

In [26]:
# 17. You can use a loop to look over all the items in a list

my_class = ['Sarah', 'Bob', 'Jim', 'Tom', 'Lucy', 'Sophie', 'Liz', 'Ed']

# Below is a multi-line comment
# Delete the ''' from before and after to uncomment the block

'''
for student in my_class:
    print(student)
'''

for student in my_class:
    print(student)


# Add all the names of people in your group to this list

# Remember the difference between append and extend. You can use either.

# Now write a loop to print a number (starting from 1) before each name

Sarah
Bob
Jim
Tom
Lucy
Sophie
Liz
Ed

In [27]:
# 18. You can split up a string by index

full_name = 'Dominic Adrian Smith'

first_letter = full_name[0]
last_letter = full_name[19]
first_three = full_name[:3]  # [0:3 also works]
last_three = full_name[-3:]  # [17:] and [17:20] also work
middle = full_name[8:14]

# Try printing these, and try to make a word out of the individual letters

print(full_name)
print(first_letter)
print(last_letter)
print(first_three)
print(last_three)
print(middle)

i=0
for student in full_name:
    print(full_name[i])
    i=i+1

Dominic Adrian Smith
D
h
Dom
ith
Adrian
D
o
m
i
n
i
c

A
d
r
i
a
n

S
m
i
t
h

In [28]:
# 19. You can also split the string on a specific character

my_sentence = "Hello, my name is Fred"
parts = my_sentence.split(',')

# print(parts)
# print(type(parts))  
# What type is this variable? What can you do with it?

print(parts)
print(type(parts)) 

# GO!

['Hello', ' my name is Fred']
<class 'list'>

In [29]:
my_long_sentence = "This is a very very very very very very long sentence"

# Now split the sentence and use this to print out the number of words

parts = my_long_sentence.split(' ')
len(parts)

# GO! (Clues below if you're stuck)

# Clue: Which character do you split on to separate words?
# Clue: What type is the split variable?
# Clue: What can you do to count these?

11

In [30]:
# 20. You can group data together in a tuple

person = ('Bobby', 26)

# print(person[0] + ' is ' + str(person[1]) + ' years old')

print(person[0] + ' is ' + str(person[1]) + ' years old')

# GO!

Bobby is 26 years old

In [31]:
# (name, age)
students = [
    ('Dave', 12),
    ('Sophia', 13),
    ('Sam', 12),
    ('Kate', 11),
    ('Daniel', 10)
]

# Now write a loop to print each of the students' names and age

for person in students:
    print(person[0] + ' is ' + str(person[1]) + ' years old')


# GO!

Dave is 12 years old
Sophia is 13 years old
Sam is 12 years old
Kate is 11 years old
Daniel is 10 years old

In [32]:
# 21. Tuples can be any length. The above examples are 2-tuples.

# Try making a list of students with (name, age, favourite subject and sport)

students = [
    ('Iizumi', 24, 'Trumpet'),
    ('Tsukagoshi', 22, 'Volleyball'),
    ('Yamamoto', 22, 'Baseball'),
    ('Wahei', 22, 'Walking'),
    ('Yoshikane', 22, 'Volleyball'),
    ('Murofushi', 22, 'Sleeping'),
    ('Terao', 22, 'Tennis')
]

# Now loop over them printing each one out

for member in students:
    print(member[0] + ' is ' + str(member[1]) + ' years old and his/her favorie is ' + member[2])

# Now pick a number (in the students' age range)
# Make the loop only print the students older than that number

# GO!

Iizumi is 24 years old and his/her favorie is Trumpet
Tsukagoshi is 22 years old and his/her favorie is Volleyball
Yamamoto is 22 years old and his/her favorie is Baseball
Wahei is 22 years old and his/her favorie is Walking
Yoshikane is 22 years old and his/her favorie is Volleyball
Murofushi is 22 years old and his/her favorie is Sleeping
Terao is 22 years old and his/her favorie is Tennis

In [33]:
# 22. Another useful data structure is a dictionary

# Dictionaries contain key-value pairs like an address book maps name
# to number

addresses = {
    'Lauren': '0161 5673 890',
    'Amy': '0115 8901 165',
    'Daniel': '0114 2290 542',
    'Emergency': '999'
}

# You access dictionary elements by looking them up with the key:

# print(addresses['Amy'])

print(addresses['Amy'])

# You can check if a key or value exists in a given dictionary:

# print('David' in addresses)  # [False]
# print('Daniel' in addresses)  # [True]
# print('999' in addresses)  # [False]
# print('999' in addresses.values())  # [True]
# print(999 in addresses.values())  # [False]

print('David' in addresses) 
print('Daniel' in addresses)
print('999' in addresses)
print('999' in addresses.values())
print(999 in addresses.values())

# GO!

0115 8901 165
False
True
False
True
False

In [34]:
# Note that 999 was entered in to the dictionary as a string, not an integer

# Think: what would happen if phone numbers were stored as integers?

# Try changing Amy's phone number to a new number

# addresses['Amy'] = '0115 236 359'
# print(addresses['Amy'])

addresses['Amy'] = '0115 236 359'
print(addresses['Amy'])

# GO!

0115 236 359

In [35]:
# Delete Daniel from the dictinary

# print('Daniel' in addresses)  # [True]
# del addresses['Daniel']
# print('Daniel' in addresses)  # [False]

print('Daniel' in addresses)
del addresses['Daniel']
print('Daniel' in addresses)


# GO!

True
False

In [36]:
# You can also loop over a dictionary and access its contents:

'''
for name in addresses:
    print(name, addresses[name])
'''

for name in addresses:
    print(name, addresses[name])

# GO!

Lauren 0161 5673 890
Amy 0115 236 359
Emergency 999

In [37]:
# 23. A final challenge using the skills you've learned:
# What is the sum of all the digits in all the numbers from 1 to 1000?

# GO!

all_num = 0
ran = range(1001)

for num in ran:
    s_num = str(num)
    i_num = int(s_num)
    all_num = all_num + i_num

print(all_num)


# Clue: range(10) => [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
# Clue: str(87) => '87'
# Clue: int('9') => 9

500500